<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- FILE APPROACH -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/logs/outcurr.log</file>
        <append>true</append>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        </encoder>
    </appender>

    <!-- ROOT -->
    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
</configuration>
